* { margin:0; padding:0; box-sizing:border-box; outline:none }
a { text-decoration:none; color:inherit; }
img { max-width:100%; vertical-align:middle; border:none; }
ul { list-style:none }    
table { border-collapse: collapse; width:100%; table-layout: fixed; }
caption { display:none }
.cf::after, .cf::before { content:''; display:block; clear:both }
figure, header, section, footer, nav, article, aside, main {display:block;}
fieldset { border:none }
legend { display:none }
input {  background:none }
button {  background:none; cursor:pointer }
label { display:inline-block }
h1, h2, h3, h4, h5, h6, th, strong {font-weight:normal}
address, em { font-style:normal }
.blind { 
    position:absolute; 
    width:0; 
    height:0; 
    line-height:0;
    font-size:0; 
    overflow:hidden; 
    text-indent:-9999px;
}
